/*
.cm-header-1,
.markdown-preview-section h1 
{
    background: -webkit-linear-gradient(45deg, #DA6362, #D77F48);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
}

.cm-header-2,
.markdown-preview-section h2 
{
    background: -webkit-linear-gradient(45deg, #D77F48, #e3b54a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cm-header-3,
.markdown-preview-section h3 {
    background: -webkit-linear-gradient(45deg,#e3b54a, #a4bb4a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e3b54a;
}

.cm-header-4,
.markdown-preview-section h4 {
    background: -webkit-linear-gradient(45deg, #a4bb4a, #6ec398);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #a4bb4a;
}

.cm-header-5,
.markdown-preview-section h5 {
    background: -webkit-linear-gradient(45deg,#6ec398, #6cb3c6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #6ec398;
}

.cm-header-6,
.markdown-preview-section h6 {
    background: -webkit-linear-gradient(45deg, #6cb3c6, #e092be);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #6cb3c6;
}
*/